{#
/**
 * Position Fieldtype plugin for Craft CMS
 *
 * Position Field Settings
 *
 * @author    Rias
 * @copyright Copyright (c) 2017 Rias
 * @link      https://rias.be
 * @package   PositionFieldtype
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("rias\\positionfieldtype\\assetbundles\\positionfieldtype\\PositionFieldtypeAsset") %}

{% set input %}
    <table class="data">
        {% for option in allOptions %}
            <tr>
                <td>
                    {{ forms.lightswitch({
                        on: settings.options[option] ?? false,
                        small: true,
                        name: 'options['~option~']'
                    }) }}
                </td>
                <td>
                    <span class="position-icon-{{ option }}"></span>
                </td>
                <td class="code">
                    {{ option }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endset %}

{{ forms.field({
    label: "Options"|t('position-fieldtype'),
    instructions: "Choose which position options should be available to your field."|t('position-fieldtype'),
}, input) }}

<div class="field">
    <div class="heading">
        <label>{{ "Default" | t('position-fieldtype') }}</label>
        <div class="instructions"><p>{{ "Choose a default position" | t('position-fieldtype') }}</p>
        </div>
    </div>

    <div id="{{ id }}" class="position-fieldtype btngroup big">
        {% for option, label in allOptions %}
            <div title="{{ label }}" class="btn big {% if settings.default is not empty and settings.default == label %} active{% endif %} position-icon-{{ label }}" data-option="{{ label }}"></div>
        {% endfor %}
    </div>

    <input type="hidden" name="default" value="{{ settings.default }}">
</div>